* {
  margin-right: 0%;
  margin-left: 0%;
  text-align: center;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgba(246, 222, 222, 0.864);
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 617px;
  text-align: center;
  width: 33.33%;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
}

.container {
  flex-basis: 900px;
}

.e1 {
  align-items: stretch;
}

.e2 {
  align-items: end;
  margin-left: 50px;
  justify-content: stretch;
}

h1,
h2,
h3 {
  margin: 10px;
}

p {
  line-height: 18px;
}

.width {
  text-align: center;
}

h1 {
  color: rgb(38, 86, 144);
  font-size: 80px;
  font-family: "Shojumaru";
  background-color: rgba(160, 160, 160, 0.189);
  text-align: center;
}

h2 {
  color: rgb(160, 160, 160);
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
  border: 5px solid rgba(38, 86, 144, 0.385);
  border-radius: 60%;
  border-width: 10px;
}

h3 {
  color: rgba(45, 136, 98, 0.88);
  padding-top: 20px;
  padding-bottom: 5px;
  border: 5px solid rgba(38, 86, 144, 0.385);
  border-radius: 60%;
  border-width: 10px;
  margin: 50px;
}

img {
  margin: 20px;
  border: 10px solid rgba(0, 0, 0, 0.196);
}

li {
  margin-bottom: 8px;
}

a {
  font-size: 20px;
  font-style: italic;
  margin: 0px;
}

a:link {
  color: orange;
  text-decoration: underline;
}
a:visited {
  color: rgb(255, 210, 127);
}

a:hover {
  color: rgb(255, 81, 0);
}

footer p {
  font-style: italic;
}
